<dom-module id="master-layout">

  <link rel="stylesheet" href="/public/assets/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/public/assets/css/material-design-icons.min.css">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="sidenav.css">


  <template>
    <md-content flex layout-align="start start" ng-app="master-layout-app" ng-controller="master-layout-ctrl" class="main-container" ng-class="{'mobile': lock_sidenav, 'wide_layout': wide_layout, 'done': done}">
      <md-toolbar layout="row" class="main-toolbar md-whiteframe-z1" ng-class="{'md-tall': lock_sidenav}" md-scroll-shrink="{{!lock_sidenav}}">
        <div class="md-toolbar-tools">

          <img src="/public/assets/img/logo-dark.svg" alt="logo" class="md-toolbar-logo"/>
          <span class="logo-text">taswia</span>

          <md-button ng-if="wide_layout" class="md-icon-button" aria-label="menu toggler" ng-click="toggle_sidenav()">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>

          <div ng-if="wide_layout" flex layout="row" layout-align="center center" class="page-top" ng-class="{'searching': toggle_search, 'margin': lock_sidenav}">

            <md-button class="toggled search-tool md-icon-button" aria-label="Back" ng-click="search_back()">
              <md-icon ng-if="rtl" class="material-icons">arrow_forward</md-icon>
              <md-icon ng-if="!rtl" class="material-icons">arrow_back</md-icon>
            </md-button>

            <md-menu class="toggled title-tool" origin="normal">
              <md-button md-menu-origin class="md-icon-button" aria-label="Add" ng-click="$mdOpenMenu()">
                <md-icon class="material-icons">add</md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="doSomething()">Something</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

            <div flex layout="row" layout-align="center center" class="top-content">
              <span flex class="toggled title-tool title">Page Title</span>

              <md-input-container class="toggled search-tool search-input" flex md-no-float>
                <input flex placeholder="Search" style="width:100%;">
              </md-input-container>
            </div>

            <md-button ng-if="speech_enabled" class="toggled search-tool md-icon-button" aria-label="Mic" ng-click="toggle_speech()" ng-class="{'md-accent': speech}">
              <md-icon class="material-icons">mic</md-icon>
            </md-button>

            <md-button class="toggled md-icon-button" aria-label="search" ng-click="search()">
              <md-icon class="material-icons">search</md-icon>
            </md-button>

            <md-menu class="toggled title-tool" origin="reversed">
              <md-button md-menu-origin class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu()">
                <md-icon class="material-icons">more_vert</md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="logout()">Logout</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

          </div>

        </div>
      </md-toolbar>

      <section flex layout="row" ng-class="{'mobile': !lock_sidenav}">

        <md-sidenav ng-if="wide_layout" md-component-id="sidenav" ng-class="{'md-sidenav-left':!rtl, 'md-sidenav-right': rtl}" md-is-locked-open="$mdMedia('gt-md') && lock_sidenav">
          <md-content flex role="navigation">

            <script type="text/ng-template" id="menu_template">
              <div toggleparentclass="expanded">
                <md-list-item md-ink-ripple layout="row" layout-align="space-between center">
                  {{ menu.title }}
                  <md-icon class="state md-secondary material-icons">keyboard_arrow_down</md-icon>
                </md-list-item>
              </div>
              <ul ng-if="menu.sub_menu" ngClass="{'hide': menu.sub_menu}">
                <li ng-repeat="menu in menu.sub_menu" ng-include="'menu_template'" ng-Class="{'has-childrens': menu.sub_menu}"></li>
              </ul>
            </script>
            <ul class="main-menu">
              <li ng-repeat="menu in side_menu" ng-include="'menu_template'" ng-Class="{'has-childrens': menu.sub_menu}"></li>
            </ul>

          </md-content>
        </md-sidenav>

        <div flex layout="column" class="content" ng-class="{'margin': lock_sidenav}">
          <md-content flex class="page paper md-whiteframe-z1" layout-padding>
            <content select=".page" bind-unsafe-html="unsafeString"></content>
          </md-content>
          <div class="md-caption footer" layout="row" layout-align="end center" ng-class="{'mobile': !lock_sidenav}">
            <span>Crafted with love <i class="material-icons md-captiont">favorite</i>, by mahd</span>
          </div>

        </div>
      </section>
    </md-content>
  </template>

  <script src="/public/assets/bower_components/angular/angular.min.js"></script>
  <script src="/public/assets/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/public/assets/bower_components/angular-aria/angular-aria.min.js"></script>

  <script src="/public/assets/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/public/assets/bower_components/jquery/dist/jquery.min.js"></script>

  <script src="script.js"></script>

</dom-module>
