body.login section{
  right: 25px !important;
  height: auto !important;
}

.preloader-wrapper{
  direction: ltr;
}
button .preloader-wrapper.small, a .preloader-wrapper.small{
  width: 23px;
  height: 23px;
  top: 6px;
  right: -10px;
}
button .spinner-layer.force-white, a .spinner-layer.force-white {
  border-color: #fff;
}
button .spinner-layer.force-black, a .spinner-layer.force-black {
  border-color: #000;
}
button .circle-clipper .circle, a .circle-clipper .circle{
  border-width: 2px;
}
