doctype html
//if IE 9
  html.ie9(lang='en')
// [if (gt IE 9)|!(IE)] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title mahd - taswia
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/materialize.css')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='stylesheet', href='/assets/css/custom.css')
    script(type='text/javascript', src='/assets/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/assets/js/bin/materialize.min.js')
    script(type='text/javascript', src='/assets/js/app.js')
    script(type='text/javascript', src='/assets/home/script_1.js')
  body.layout-material
    ul#user_menu.dropdown-content(data-container='body')
      li
        a.waves-effect.waves-dark(href='#!') one
      li
        a.waves-effect.waves-dark(href='#!') two
      li.divider
      li
        a.waves-effect.waves-dark(href='#!') three
    // Main container
    .app-container
      // START Top Navbar
      nav.navbar.topnavbar
        .nav-wrapper
          .navbar-header
            .mobile-toggles
              a.sidebar-toggle(href='javascript:;')
                em.fa.fa-navicon
          ul.right
            li
              a.waves-effect.waves-dark(href='#!') Messages
            // Dropdown Trigger
            li
              a.waves-effect.waves-dark.dropdown-button(href='#!', data-activates='user_menu') user
                i.material-icons.right.fa.fa-ellipsis-v
      // END Top Navbar
      aside.hidden
        // START Sidebar
        .sidebar-wrapper
          .sidebar(data-ui-sidebar='')
            .sidebar-nav.navbar-collapse
              ul
                li
                  a.waves-effect.waves-dark.btn-flat(href='') First Sidebar Link
                li
                  a.waves-effect.waves-dark.btn-flat(href='#!') Second Sidebar Link
                li
                  ul.collapsible.collapsible-accordion
                    li
                      a.collapsible-header.waves-effect.waves-dark.btn-flat
                        | Dropdown
                        i.fa.fa-angle-down
                      .collapsible-body
                        ul
                          li
                            a.waves-effect.waves-dark.btn-flat(href='#!') First
                          li
                            a.waves-effect.waves-dark.btn-flat(href='#!') Second
                          li
                            a.waves-effect.waves-dark.btn-flat(href='#!') Third
                          li
                            a.waves-effect.waves-dark.btn-flat(href='#!') Fourth
        // END Sidebar
      // Main
      section
        // Content
        .app
          .app-view-header
            | Title
            button.pull-right.btn.waves-effect.waves-light(type='button') Button
            small Small random text
          .row
            .col-lg-12
              p.lead.text-center(style='height:1000px;') Content
    .bg-overlay
