
@font-face {
  font-family: 'NotoKufiArabic';
  src: url('font/NotoKufiArabic.eot?#iefix') format('embedded-opentype'),  url('font/NotoKufiArabic.woff') format('woff'), url('font/NotoKufiArabic.ttf')  format('truetype'), url('font/NotoKufiArabic.svg#NotoKufiArabic') format('svg');
  font-weight: normal;
  font-style: normal;
}
