form.login_form
  div(layout='column')
    md-input-container.username(flex='')
      label Username
      input(type='text', name="username", required="")
      div(ng-messages="", style="display:none;")
        div(ng-message="invalid") Invalid Username
    md-input-container.password(flex='')
      label Password
      input(type='password', name="password", required="")
      div(ng-messages="", style="display:none;")
        div(ng-message="invalid") Incorretc Password
    div(flex='', layout="row", layout-align="end center")
      md-button.md-raised.md-primary Login
script(type='text/javascript', src='/public/assets/login/script_1.js')
