<!doctype html>

<html lang="">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mahd - taswia</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/iosync/json-patch.js"></script>
    <script src="/iosync/iosync.js"></script>
    <script>
      var a = iosync.bind("/aa");
      //iosync.apply();
    </script>

    <link rel="import" href="/assets/bower_components/polymer/polymer.html"/>

    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>

    <link rel="import" href="/components/master/master-layout.html">

    <link rel="stylesheet" href="/assets/fonts/noto/font.css">
    <style>
      html{
        font-family: "NotoKufiArabic";
      }
      .material-icons{
        height: 0.7em;
      }
      body{
        overflow-y: hidden !important;
      }
    </style>

  </head>

  <body unresolved>
    <master-layout wide="true" dir="ltr">
      <div class="page">
        <md-input-container>
          <label>Submission Date</label>
          <input type="date" ng-model="user.submissionDate">
        </md-input-container>
        <md-button class="md-raised">Default</md-button>
        <md-button class="md-raised md-primary">Primary</md-button>
        <md-button class="md-raised md-accent">Accent</md-button>
        <p>
        abcdefghijklmnopqrstuvwxyz<br>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        0123456789
        /*-+=
        </p>
        <p>
          Mohamed Dardouri
        </p>
        <P>
          محمد دردوري 123
        </P>
        <p>
          يولد جميع الناس أحرارًا
        </p>
      </div>
    </master-layout>

    <script>
      sm = [
        {
          title: "item 1",
          sub_menu: [
            {
              title: "item 1.1",
              sub_menu: [
                {
                  title: "item 1.1.1"
                }
              ]
            },
            {
              title: "item 1.2",
              sub_menu: [
                {
                  title: "item 1.2.1"
                }
              ]
            },
            {
              title: "item 1.3"
            }
          ]
        },
        {
          title: "item 2"
        },
        {
          title: "item 3"
        },
        {
          title: "item 4"
        }
      ];
      $("master-layout")[0].side_menu = sm;
    </script>

  </body>

</html>
