<!doctype html>

<html lang="">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mahd - taswia</title>

    <script src="/assets/bower_components/webcomponentsjs/webcomponents.min.js" charset="utf-8"></script>
    <link rel="import" href="/assets/bower_components/polymer/polymer.html"/>

    <link rel="import" href="/components/master/master-layout.html">

    <style>
      body{
        overflow-y: hidden !important;
      }
    </style>
  </head>

  <body unresolved>

    <master-layout>
    </master-layout>

  </body>

</html>
